


/*need to change the style for  something more atractive
/* Reset and General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:cursive, sans-serif;
    background-color: #bfb4da;
    background-image: url('../images/Dice.jpg');
    background-repeat: no-repeat;
    background-size: 100% 90%;
    color: #e2d5d5;
    overflow: hidden; /* Hide overflow to prevent scrollbars from background image */
}

/* Header Styles */
header {
    text-align: center;
    background-color: #7643d3;
    color: #fff;
    padding: 20px 0;
}

header h1 {
    font-size: 24px;
    
}

/* Main Styles */
.main {
    position: relative; /* Position relative to allow absolute positioning for background image*/ 
    height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 50%;
}

/* Dice Background Styles */
.dice-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #a46ec9;
    
    background-size: cover;
    opacity: 0.3; /* Adjust opacity as needed */
}

/* Game Container Styles */
.game-container {
    background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white background for game container */
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    margin-top: 20px;
}

p {
    font-size: 18px;
    margin-bottom: 20px;
    color: #ac89ec;
}

.input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    
}

/* Button Styles */
.select-num,
.inputApuesta,
.btnjugar {
    height: 40px;
    width: 270px;
    margin: 10px 0;
    padding: 5px;
    font-size: 16px;
    border-radius: 10px;
}

.btnjugar {
    background-color: #9656e0;
    color: #fff;
    border: none;
    cursor: pointer;
}

.btnjugar:hover {
    background-color: #0056b3;
}

/* Message Styles */
.ganado {
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 30px;
    color: #a46ec9;
}

/* Balance Styles */
.saldo {
    font-size: 18px;
    font-weight: bold;
    color: white;
    margin-top: 20px;
}

/* Footer Styles */
footer {
    text-align: center;
    background-color: #dae0e6ff;
    color: #131316;
    /*padding: 10px 0;*/
    height: 10%;
}
